%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Code:
  = @product.code
%p
  %b Price:
  = @product.price
%p
  %b Quantity:
  = @product.quantity
%p
  %b Kind:
  = @product.kind
%p
  %b Photo url:
  = @product.photo_url

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
